// Colors
$brand-primary:         #F200BC; // fushia
$brand-secondary:       #48E3E3; // aqua
$brand-gray-light:      #F2F2F2; // light gray
$brand-gray-medium:     #D8D8D8; // medium gray
$brand-gray-dark:       #ADADAD; // dark gray

$font-sans: "freight-sans-pro", sans-serif;

$fa-font-path:          '~font-awesome/fonts';
